@tailwind base
@tailwind components
@tailwind utilities

$white: theme("colors.white")
$grey: theme("colors.grey")
$blue-light: theme("colors.blue.light")
$blue-medium: theme("colors.blue.medium")
$blue-dark: theme("colors.blue.dark")
$green-light: theme("colors.green.light")
$green-dark: theme("colors.green.dark")

body
  color: $white
  background: $blue-dark
  overflow-x: hidden
  padding-top: 0px
  opacity: 1